.site-header {
	background: url('images/greyorchid.png');
	background-repeat:repeat;
	border-bottom: 3px solid $green;
	height: 75px;
	position: fixed;
	width: 100%;
	box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
	z-index: 999;
}

.site-branding {
	margin-top: 20px;
	margin-bottom: 20px;
}