/* Homepage */

/* Image */
.hero-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	background: gradient(red,blue);
}

#gradient {
  background: linear-gradient(rgba(0,0,0,0),rgba(234,234,234,1));
} 

p.feature-headline {
	margin-top: 500px;
	margin-bottom: 5px;
	font-family: $font__main;
	font-weight: $font__bold-weight;
	font-size: 32px;
	color: $dark_grey;
}

p.feature-text {
	font-family: $font__main;
	font-weight: $font__medium-weight;
	font-size: 18px;
	color: $dark_grey;
}

/* About */

#light_grey {
	background-color: $light_grey;
	padding-top: 75px;
	padding-bottom: 75px;
}

#about-container {
	text-align: center;
	max-width: 65%;
	margin: auto;
}

p.about-headline {
	font-family: $font__written;
	font-size: 42px;
	margin-bottom: 5px;
}

p.about-text {
	font-family: $font__written;
	font-size: 24px;
}

.btn {
 	background: linear-gradient($green, $dark_green);
  	border-radius: 5px;
  	box-shadow: 0px 1px 3px #666666;
  	font-family: $font__written;
  	font-weight: $font__bold-weight;
  	color: $dark_grey;
  	font-size: 24px;
  	text-align: center;
  	padding: 10px 5px 10px 5px;
  	text-decoration: none;
  	max-width: 15%;
	margin: auto;
	margin-top: 30px;
}

.btn:hover {
  	background: linear-gradient($med_grey, $dark_grey);
  	color: $green;
  	text-decoration: none;
}

a.btn {
	color: $dark_grey;
    text-decoration: none;
}

a.btn:hover {
	color: $green;
    text-decoration: none;
}

/* Service Area */

#service-container {
	background-color: $green;
	padding-top: 50px;
	padding-bottom: 10px;
}

.frame {
	border: 10px solid $light_grey;
	border-bottom: 5px solid $light_grey;
	box-shadow: 0 8px 6px -6px black;
	background-color: $light_grey;
}

p.service_header_text {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__bold-weight;
	font-size: 24px;
	margin-bottom: 5px;
}

p.service_description {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__medium-weight;
	font-size: 18px;
}
