/* Homepage */

/* Image */
.hover-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

.view {
	overflow: hidden;
   	position: relative;
   	text-align: center;
   	box-shadow: 0px 0px 5px #aaa;
   	cursor: default;
}

.view .mask, .view .content {
   width: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view img {
   display: block;
   position: relative;
}

.hover-effect .mask {
   opacity: 0;
   overflow:visible;
   border: 500px solid rgba(0,0,0,0.5);
   box-sizing:  border-box;
   transition: all 0.4s ease-in-out;
   margin: 0;
}

.hover-effect:hover .mask {
   opacity: 1;
   border:100% solid rgba(0,0,0,0.5);
   margin: 0;
}

p.hover-text-heading {
	font-size: 32px;
	color: $light_grey;
	text-shadow: 2px 2px $dark_grey;
	padding-bottom: 5px;
	margin: 0;
}

p.hover-text {
	font-size: 18px;
	color: $light_grey;
	text-shadow: 2px 2px $dark_grey;
	margin: 0;
}

/* About */

#about-container {
	background-color: $light_grey;
	padding-top: 50px;
	padding-bottom: 50px;
}

#about-text-container {
	text-align: center;
	max-width: 65%;
	margin: auto;
}

p.about-headline {
	font-family: $font__written;
	font-size: 48px;
	margin-bottom: 5px;
}

p.about-text {
	font-family: $font__written;
	font-size: 24px;
}

.btn {
	margin: auto;
}

a.btn {
	color: $dark_grey;
    text-decoration: none;
    background: linear-gradient($green, $dark_green);
  	border-radius: 5px;
  	box-shadow: 0px 1px 3px #666666;
  	font-family: $font__main;
  	font-weight: $font__medium-weight;
  	font-size: 18px;
  	text-align: center;
  	padding: 10px 30px 10px 30px;
  	text-decoration: none;
  	max-width: 15%;
	margin-top: 30px;
}

a.btn:hover {
	color: $green;
    text-decoration: none;
    background: linear-gradient($med_grey, $dark_grey);
}

/* Service Area */

#service-container {
	background-color: $green;
	padding-top: 50px;
	padding-bottom: 20px;
}

.service-header {
	color: $light_grey;
	font-family: $font__main;
	font-weight: $font__bold-weight;
	font-size: 42px;
	margin-bottom: 10px;
}

/* SERVICE PAGE */

#service-page {
	background-color: $green;
	padding-top: 80px;
	padding-bottom: 40px;
}

.service-title {
	color: $light_grey;
	font-family: $font__main;
	font-weight: $font__bold-weight;
	font-size: 42px;
	margin-bottom: 10px;
}

.service-page-header {
	color: $light_grey;
	font-family: $font__main;
	font-weight: $font__medium-weight;
	font-size: 24px;
	margin-bottom: 5px;
}

.service-page-intro {
	color: $light_grey;
	font-family: $font__main;
	font-weight: $font__main-weight;
	font-size: 18px;
	margin-bottom: 0px;
}

.frame {
	border: 7px solid $light_grey;
	border-bottom: 2px solid $light_grey;
	box-shadow: 0 8px 6px -6px black;
	background-color: $light_grey;
}

#services-section {
	background: $light_grey;
	padding-top: 50px;
	padding-bottom: 20px;
}

p.services_header_text {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__medium-weight;
	font-size: 24px;
	margin-top: 15px;
	margin-bottom: 5px;
}

p.services_description {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__main-weight;
	font-size: 16px;
	margin-top: 5px;
}


.frame2 {
	box-shadow: 0px 0px 4px #999;
	border: 5px solid $light_grey;
	border-bottom: 1px solid $light_grey;
}

#contact-container {
	background-color: $light_grey;
	padding-top: 50px;
	padding-bottom: 10px;
}

.service-contact-header {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__bold-weight;
	font-size: 32px;
	margin-bottom: 3px;
}

.service-contact-text {
	color: $dark_grey;
	font-family: $font__main;
	font-weight: $font__medium-weight;
	font-size: 16px;
	margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea
{
	background-color: #fff;
	border: 1px solid $dark_grey;
	margin-top: 5px;
	box-shadow: 0px 0px 1px 1px rgba(61, 61, 62, .2);
}

p.contact-form-text {
	color: $dark_grey;
	font-size: 14px;
}

input[type="submit"]
{
	color: $dark_grey;
    text-decoration: none;
    background: linear-gradient($green, $dark_green);
  	border-radius: 5px;
  	border: none;
  	text-shadow: none;
  	box-shadow: 0px 1px 3px #666666;
  	font-family: $font__main;
  	font-weight: $font__medium-weight;
  	font-size: 18px;
  	text-align: center;
  	padding: 10px 30px 10px 30px;
  	text-decoration: none;
  	max-width: 30%;
	margin-top: 10px;
}

input[type="submit"]:hover 
{
	color: $green;
    text-decoration: none;
    background: linear-gradient($med_grey, $dark_grey);
  	border-radius: 5px;
  	border: none;
  	text-shadow: none;
  	box-shadow: 0px 1px 3px #666666;
  	font-family: $font__main;
  	font-weight: $font__medium-weight;
  	font-size: 18px;
  	text-align: center;
  	padding: 10px 30px 10px 30px;
  	text-decoration: none;
  	max-width: 30%;
	margin-top: 10px;
}

/* PORTFOLIO PAGE */

#portfolio-featured {
	background-color: $green;
	padding-top: 80px;
	padding-bottom: 30px;
}

.portfolio_title_featured {
	color: $light_grey;
	font-size: 42px;
	font-weight: $font__bold-weight;
	margin-bottom: 1px;
}

.category-text-featured {
	float: right;
	margin-top: 20px;
	margin-bottom: 5px;
	margin-left: 20px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 3px;
	font-size: 18px;
	font-family: $font__main;
	font-weight: $font__medium-weight;
	list-style: none;
	text-align: center;
	background-color: $light_grey;
	color: $dark_grey;
}

hr {
	height: 2px;
	background-color: $light_grey;
}

.portfolio_description-headline-featured {
	color: $light_grey;
	font-size: 22px;
	font-weight: $font__bold-weight;
	margin-bottom: 5px;
}

.portfolio_description-featured {
	color: $light_grey;
	font-size: 18px;
	font-weight: $font__medium-weight;
}

#portfolio-projects {
	background-color: $light_grey;
	padding-top: 50px;
	padding-bottom: 30px;
}

.portfolio_title {
	color: $dark_grey;
	font-size: 42px;
	font-weight: $font__bold-weight;
	margin-bottom: 5px;
}

hr.portfolio-main {
	height: 1.5px;
	background-color: $dark_grey;
}

.portfolio_description-headline {
	color: $dark_grey;
	font-size: 22px;
	font-weight: $font__bold-weight;
	margin-bottom: 5px;
}

.portfolio_description {
	color: $dark_grey;
	font-size: 18px;
	font-weight: $font__medium-weight;
}

/* START Gallery Images */

.gallery {
	float: left;
}

.gallery-item {
    float:left;
    padding-right: 20px;
}
.gallery img {
	box-shadow: 0px 0px 4px #999;
	border: 1px solid $other_grey;
	padding: 5px;
	background: $light_grey;
}
.gallery .gallery-caption {
	color: $light_grey;
	font-size: 14px;
	margin: 0 0 12px;
}
.gallery-columns-1 .gallery-item {
    width: 100%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-3 .gallery-item {
    width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}

/* END Gallery Images*/

.image123 {
    position:relative;
    width:400px;
    height:400px;
}
.image123 img {
    width:100%;
    vertical-align:top;
}
.image123:after {
    content:'\A';
    position:absolute;
    width:100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.6);
    opacity:0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.image123:hover:after {
    opacity:1;
}

.post-categories {
	float: right;
	margin-bottom: 5px;

	ul {
		list-style: none;
	}

	li {
		position: relative;
		margin-left: 20px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 3px;
		font-size: 18px;
		font-family: $font__main;
		font-weight: $font__medium-weight;
		list-style: none;
		text-align: center;
		display: inline-block;
		background-color: $green;
		}
	a {
		text-decoration: none;
		color: $light_grey;
	}	
}

/* CONTACT PAGE */

#contact-page-container {
	background-color: $light_grey;
	padding-top: 80px;
	padding-bottom: 10px;
}

/* SINGLE PORTFOLIO PAGE */
